.hi {
    box-shadow: 5px 5px 5px cyan;
    padding:25px;
    margin: 30px;
    color:cyan;
    font-weight: bold;
    
}

canvas {
    border-radius: 25px;
    box-shadow: 5px 5px 5px red;
    margin: 25px;
    padding: 32px;
    
    
}
.copyright-footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 3;
    width: 100%;
}